* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

body {
  width: 100vw;
  min-width: 500px;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--page-background);
}
